@import './../../style/_variable';

.app_info {
  padding: 25px;
  background-color: $main;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 18px;
}

.app_info h1{
  font-size: 30px;
  font-weight: bold;
}

.app_info h2 {
  font-size: 18px;
}

.title_cash {
  margin: 0;
}